<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46867267782-od2u14pm9clg99ms5ev9j21hi4tqa8v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46867267782-od2u14pm9clg99ms5ev9j21hi4tqa8v2</string>
	<key>API_KEY</key>
	<string>AIzaSyDPuV-i11eiSl-eRjW8jBiO6PJzU6k8jJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>46867267782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.usmle</string>
	<key>PROJECT_ID</key>
	<string>usmle-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>usmle-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46867267782:ios:d82d758b62d55899bbd7c7</string>
</dict>
</plist>